@import '~antd/dist/antd.css';

html,
body,
#root {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
  font-size: 16px;
}

#root {
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  height: 100%;
}


.ant-select > .ant-select-selector {
  border-radius: 4px !important
} 

