// BASE
@font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
@border-radius-base: 4px; 


// LAYOUT
@layout-body-background: #ffffff;
@layout-header-background: #ffffff;

// INPUTS
@input-padding-vertical-base: .5rem;



// OVERRIDES

.ant-picker-range {
  height: 40px;
}

.ant-select-multiple {
  .ant-select-selector {
    height: 40px;
    &::after {
      margin: 0;
    }
  }

  .ant-select-selection-item {
    margin-top: 0;
    margin-bottom: 0;
    height: 25px;
    padding-left: .5rem;
    padding-right: .4rem;

    .ant-select-selection-item-content, .ant-select-selection-item-remove {
      display: flex;
      align-items: center;
      font-size: 12px;
    }
    .ant-select-selection-item-remove {
      .anticon {
        height: 12px;
      }
    }

  }
}

